/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

#lbCenter {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#lbBottomContainer {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}


/*
.lbLoading {
	background: #fff url(/imgs/loader.gif) no-repeat center;
}
*/

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbNextLink {
	right: 0;
}

#lbPrevLink:hover,
#lbNextLink:hover {
	border-bottom: none;
}

#lbPrevText, #lbNextText {
	visibility: hidden;
	color: #333;
	font-size: 11pt;
	display: inline-block;
	margin-top: 80px;
	padding: 15px 20px;
	background-color: rgba(255,255,255,0.9);
}

#lbPrevLink:hover > #lbPrevText,
#lbNextLink:hover > #lbNextText {
	visibility: visible;

}

#lbPrevText {
	float: left;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}


#lbNextText {
	float: right;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#lbLinkIndPrev {
	display: inline-block;
	/* Safari */
	-webkit-transform: rotate(180deg);
	/* Firefox */
	-moz-transform: rotate(180deg);
	/* IE */
	-ms-transform: rotate(180deg);
	/* Opera */
	-o-transform: rotate(180deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	padding: 0 0 10px 12px;
	border-top-style: none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#lbCloseLink {
	float: right;
	color: #333;
	font-size: 20pt;
	font-weight: bold;
	padding: 0 20px 15px 0;
	outline: none;
	border-bottom: none;
	clear: both;
}

#lbCaption, #lbNumber {
	margin-right: 20px;
}

#lbCaption {
	font-weight: bold;
}
